{%  extends "layout.html" %}
{% block title %} Welcome to Intellect! {% endblock %}
{% block content %}
    <p>Welcome {{ current_user.username }}!</p>
    <div class="w3-cell-row">
        <div class ="w3-cell-column">
            <div class="w3-bar w3-text-black w3-large w3-cell">
                 <a href="/mylists/musics/add"><button class="w3-bar-item w3-button w3-center"><b>Add</b></button></a>
                 <a href="/mylists/musics/update"><button class="w3-bar-item w3-button w3-center"><b>Update</b></button></a>
                 <a href="/mylists/musics/delete"><button class="w3-bar-item w3-button w3-center"><b>Delete</b></button></a>

                 <a href="/mylists/movies"><button class="w3-bar-item w3-button w3-center"><b>Movies></b></button></a>
            </div>
        </div>

        <div class="w3-cell-column">
                        {#  START - Forms  #}
            {% macro render_field(field) %}
              <dt>{{ field.label }}
              <dd>{{ field(**kwargs)|safe }}
              {% if field.errors %}
                <ul class=errors>
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
              {% endif %}
              </dd>
            {% endmacro %}

                    <form method=post>
              <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.genre) }}
                {{ render_field(form.duration_in_minutes) }}
                {{ render_field(form.singer) }}
                {{ render_field(form.year) }}
              </dl>
              <p><input type=submit value="Add Movie">

            {#   END - Forms #}

        </div>

     </div>



{% endblock %}
