{%  extends "layout.html" %}
{% block title %} Welcome to Intellect! {% endblock %}
{% block content %}
{% endblock %}

{% block secondmenubar %}
{% endblock %}

{% block footer %}
<footer class="w3-bottom w3-container w3-text-white">
        <p>Developed by Hakan Eroztekin</p>
</footer>
{% endblock %}

{% block additional_styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       body {
            background-image: url('/static/image/bg.jpg');
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
       }
    </style>

{% endblock %}
