{#source: https://web.itu.edu.tr/uyar/fad/application-structure.html#base-templates#}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/projectstyle.css">
    <title>{% block title %}{% endblock %}</title>
    <a href="/">Homepage</a>
    <a href="/signin">Sign-in</a>
    <a href="/signup">Sign-up</a>
    <a href="/mylists">My Lists</a>
</head>

<body>
{% block content %}{%  endblock %}

<footer>Disclaimer: Intellect is an experimental project for Database Systems Course | Developed by Hakan Eröztekin</footer>
</body>

</html>