{%  extends "layout.html" %}
{% block title %} Welcome to Intellect! {% endblock %}
{% block content %}
    <p>Welcome {{ current_user.username }}!</p>
    <div class="w3-cell-row">

    <div class="w3-bar w3-text-black w3-large w3-cell">
         <a href="/"><button class="w3-bar-item w3-button w3-center"><b>Movies</b></button></a>
         <a href="/"><button class="w3-bar-item w3-button w3-center"><b>Musics</b></button></a>
  </div>

  <div class="w3-bar w3-text-black w3-large w3-cell">
     <a href="/"><button class="w3-bar-item w3-button w3-left"><b>Add</b></button></a>
        <a href="/"><button class="w3-bar-item w3-button w3-left"><b>Update</b></button></a>
        <a href="/"><button class="w3-bar-item w3-button w3-left"><b>Delete</b></button></a>
  </div>
  </div>



{% endblock %}
