{%  extends "layout.html" %}
{% block title %} Sign-in for Intellect {% endblock %}
{% block content %}
    <h1>Log In To Intellect</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if error %}
        <p class="error">ERROR: {{ error }}</p>
    {% endif %}

{% endblock %}
